<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--时区问题：serverTimezone=UTC https://segmentfault.com/q/1010000005020300-->
        <!--Mysql中文乱码问题完美解决方案 http://blog.csdn.net/luoweifu/article/details/8832492-->
        <property name="connection.url">jdbc:mysql://localhost/weather?useSSL=false&amp;serverTimezone=GMT%2b8&amp;useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <!--<property name="hibernate.format_sql">true</property>-->

        <mapping class="com.youthlin.weather.po.City"/>
        <mapping class="com.youthlin.weather.po.WeatherRecord"/>

    </session-factory>
</hibernate-configuration>
